---
layout: default
---

<div class="post">
  <header class="post-header text-center">
    {% if page.profile %}
    <div class="profile center" style="text-align: center;">
      {% if page.profile.image %}
        {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
        {% assign profile_image_class = "img-fluid z-depth-1 rounded-circle" %}
        {% capture sizes %}120px{% endcapture %} <!-- Adjusted size -->
        {% include figure.html
           path = profile_image_path
           class = profile_image_class
           sizes = sizes
           alt = "Profile Image"
           cache_bust = true 
        %}
      {% endif %}
    </div>
    {% endif %}

    <h1 class="post-title" style="font-size: 1.75em;"> <!-- Increased font size -->
      {% if site.title == "blank" %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc" style="font-style: italic; color: #555;">
      PhD Student - Virus Evolution - Bioinformatics
    </p>
  </header>

  <article>
    <div class="affiliations text-center">
      <p><em>Position, Department</em></p>
      <p><em>Institution Name, Country</em></p>
      <!-- Add more affiliation details here if needed -->
    </div>

    <hr class="section-break"/>


    <div class="main-content">
      <p>Welcome to my academic profile. Here, you will find information about my research interests, publications, and contributions to the field of [Your Field]. I am passionate about [Brief Description of Research Interest].</p>
      <p>[Additional Information]</p>
      <!-- More main content goes here -->
    </div>

    <!-- Additional Sections (News, Posts, Publications, Social) -->
    {% if page.news and site.announcements.enabled -%}
      <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
      {%- include news.html limit=true %}
    {%- endif %}

    {% if page.latest_posts -%}
      <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>
      {%- include latest_posts.html %}
    {%- endif %}

    {% if page.selected_papers -%}
      <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
      {%- include selected_papers.html %}
    {%- endif %}

    {%- if page.social %}
      <div class="social">
        <div class="contact-icons">
          {% include social.html %}
        </div>
        <div class="contact-note">
          {{ site.contact_note }}
        </div>
      </div>
    {%- endif %}
  </article>
</div>
